<% include ../partials/header %>
    <!--< the class container will give space around our contents>-->
    <div class="container">
        <header class="jumbotron">
            <!--<adding second container to keep spacing around contents when we resize the page>-->
            <div class="container">
                <h1>Business Enrichment Portal</h1>
                <p>View Network Information</p>
                <p><a class="btn btn-primary btn-lg" href="/devices/new">Add New Device</a></p>
            </div>
        </header>

	<!--<div class="row">-->
	<!--	<div class="col-md-12">-->
 <!--           <div class="input-group" id="adv-search">-->
 <!--               <input type="text" class="form-control" placeholder="Search for snippets" />-->
 <!--               <div class="input-group-btn">-->
 <!--                   <div class="btn-group" role="group">-->
 <!--                       <div class="dropdown dropdown-lg">-->
 <!--                           <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>-->
 <!--                           <div class="dropdown-menu dropdown-menu-right" role="menu">-->
 <!--                               <form class="form-horizontal" role="form">-->
 <!--                                 <div class="form-group">-->
 <!--                                   <label for="filter">Filter by</label>-->
 <!--                                   <select class="form-control">-->
 <!--                                       <option value="0" selected>All Snippets</option>-->
 <!--                                       <option value="1">Featured</option>-->
 <!--                                       <option value="2">Most popular</option>-->
 <!--                                       <option value="3">Top rated</option>-->
 <!--                                       <option value="4">Most commented</option>-->
 <!--                                   </select>-->
 <!--                                 </div>-->
 <!--                                 <div class="form-group">-->
 <!--                                   <label for="contain">Author</label>-->
 <!--                                   <input class="form-control" type="text" />-->
 <!--                                 </div>-->
 <!--                                 <div class="form-group">-->
 <!--                                   <label for="contain">Contains the words</label>-->
 <!--                                   <input class="form-control" type="text" />-->
 <!--                                 </div>-->
 <!--                                 <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>-->
 <!--                               </form>-->
 <!--                           </div>-->
 <!--                       </div>-->
 <!--                       <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>-->
 <!--                   </div>-->
 <!--               </div>-->
 <!--           </div>-->
 <!--         </div>-->
 <!--       </div>-->
	<!--</div>-->

        <div class="row">
            <h3>List of Devices!</h3>
        </div>

        <!--<adding flex style to fix issue related to left alignment>-->
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <% devices.forEach(function(device){ %>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/router.png">
                        <div class="caption">
                            <h4><%= device.hostname %></h4>
                        </div>
                        <a href="/devices/<%= device._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <% include ../partials/footer %>
