<% include ../partials/header %>
<div class="container">
    <!--<will need to create my own style sheet to center the 2 inputs and make them
    smaller>-->
    <div class="row">
        <h1 style="text-align: center;">Add A New Device</h1>
        <!--<margin 25 px for top and bottom, auto for left and right>-->
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/devices">
                <!--<use form-group to make spacing between components>-->
                <div class="form-group">
                    <label for="hostname">Host Name</label>
                    <input class="form-control" type="text" name="device[hostname]" >
                </div>
                <div class="form-group">
                    <label for="ipaddress">IP Address</label>
                    <input class="form-control" type="text" name="device[ipaddress]" >
                </div>
                <div class="form-group">
                    <label for="community">Community String</label>
                    <input class="form-control" type="text" name="device[community]" >
                </div>

                <div class="form-group">
                    <label for="device-pop-name">POP Name</label>
                    <select id="new-device-pop-name" class="form-control select2-single" type="text" name="device[pop]">
                    <option value="Unknown"></option>
                    </select>
                </div>
                <!--
                <div class="form-group">
                    <label for="device-sector-name">Sector Name</label>
                    <select id="new-device-sector-name" class="form-control select2-single" type="text" name="device[sector]"  >
                    <option value="NONE"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="device-governorate-name">Governorate Name</label>
                    <select id="new-device-governorate-name" class="form-control select2-single" type="text" name="device[gov]" >
                    <option value="NONE"></option>
                    </select>
                </div>
                -->
                <div class="form-group">
                    <!--<btn-block will let the button takes width of the 2 inputs>-->
                    <button class="btn btn-lg btn-primary btn-block">Discover</button>
                </div>
            </form>
            <a href="/devices">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>