<% include ../partials/header %>
<div class="container">
    <!--<will need to create my own style sheet to center the 2 inputs and make them
    smaller>-->
    <div class="row">
        <h1 style="text-align: center;">Add A New Device</h1>
        <!--<margin 25 px for top and bottom, auto for left and right>-->
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/devices">
                <!--<use form-group to make spacing between components>-->
                <div class="form-group">
                    <input class="form-control" type="text" name="device[hostname]" placeholder="hostname">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="device[ipaddress]" placeholder="IP address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="device[communityString]" placeholder="community string">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="device[popName][name]" placeholder="POP name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="device[sector][name]" placeholder="sector">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="device[governorate][name]" placeholder="governorate">
                </div>
                <div class="form-group">
                    <!-- <input class="form-control" type="text" name="device[type]" placeholder="type"> -->
                    <select class="form-control selectpicker" name="device[type]" placeholder="type">
                      <option>Router</option>
                      <option>Switch</option>
                      <option>Access Switch</option>
                      <option>DSLAM</option>
                      <option>MSAN</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="device[model]" placeholder="model">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="device[vendor]" placeholder="vendor">
                </div>
                <div class="form-group">
                    <!--<btn-block will let the button takes width of the 2 inputs>-->
                    <button class="btn btn-lg btn-primary btn-block">Discover</button>
                </div>
            </form>
            <a href="/devices">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>