<% include ../partials/header %>
    <!--< the class container will give space around our contents>-->

    <div class="container">
        <header class="jumbotron">
            <!--<adding second container to keep spacing around contents when we resize the page>-->
            <div class="container">
                <h1>Business Enrichment Portal</h1>
                <p>View POPs Information</p>
                <div class="btn-group" role="group" aria-label="all">
                    <a href="/devices/"><button type="button" class="btn btn-default ">All Devices</button></a>
                    <a href="/pops/"><button type="button" class="btn btn-default active">All POPs</button></a>
                    <!--<a href="/interfaces/"><button type="button" class="btn btn-default">All Interfaces</button></a>-->
                    <a href="/sectors/"><button type="button" class="btn btn-default">All Sectors</button></a>
                    <a href="/governorates/"><button type="button" class="btn btn-default ">All Governorates</button></a>
                    <a href="/users/"><button type="button" class="btn btn-default">All Users</button></a>
                    <a href="/links/"><button type="button" class="btn btn-default">All Links</button></a>
                    <a href="/validatedusers/"><button type="button" class="btn btn-default">All Validated Users</button></a>
                    <!-- <a href="/enrichments/"><button type="button" class="btn btn-default ">All Enrichment Data</button></a> -->
                    <a href="/interfaces/"><button type="button" class="btn btn-default">All Interfaces Data</button></a>
                     <a href="/cabinets/"><button type="button" class="btn btn-default ">All Cabinets</button></a>
                     <a href="/temsaninfos/"><button type="button" class="btn btn-default ">All TE-Msans</button></a>
                </div>        
            </div>
        </header>
        <div class="btn-group" role="group" aria-label="pops">
            <form id="pop-add-form"  class="btn-group" action="/pops/new" method="GET">
                <button type="button " class="btn  btn-primary">Add POP</button>
            </form>
            <form id="pop-delete-form"  class="btn-group" action="/pops/-1/?_method=DELETE" method="POST">
                <button id="pop-delete-button"   onclick="return confirm('Are you sure you would to delete this item ?');"
                 disabled="true" type="button " class="btn  btn-danger">Delete POP</button>
            </form>
            <form id="pop-update-form"  class="btn-group" action="" method="GET">
                <button type="button " id="pop-update-button" disabled="true" class="btn  btn-warning">Update POP</button>
            </form>
        </div>        
<!--<button class="add_cart">Add to card</button>-->
<!--<ul id="output"></ul>-->
<!--<button class="myclass">My Class</button>-->

        <div class="row text-left" >
            <div class="table-responsive">

<!--                 <table id="eventsTable" data-pagination="true" data-search="true"data-toggle="table" data-height="525" data-pagination="true" 
                data-maintain-selected="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" 
                data-toolbar="#toolbar" data-single-select="true">
 -->
                 <table id="eventsTable" data-pagination="true" data-height="525" data-side-pagination="server" data-url="/pops/pagination" data-toggle="table" data-search="true" data-flat="true" data-show-columns="true" data-show-toggle="true" data-show-refresh="true" data-single-select="true">

                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"> </th>
                            <th data-field="_id" data-visible="false">ID</th>
                            <th data-field="shortName" data-sortable="true">Short Name</th>
                            <th data-field="popLongName" data-sortable="true">POP Long Name</th>
                            <th data-field="popType" data-sortable="true">POP Type</th>
                            <th data-field="gov" data-sortable="true">Governorate</th>
                            <th data-field="district" data-sortable="true">District</th>
                            <th data-field="sector" data-sortable="true">Sector</th>
                        </tr>
                    </thead>


                </table>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
