<% include ../partials/header %>
<div class="container">
    <!--<will need to create my own style sheet to center the 2 inputs and make them
    smaller>-->
    <div class="row">
        <h1 style="text-align: center;">Add A New POP</h1>
        <!--<margin 25 px for top and bottom, auto for left and right>-->
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/pops">
                <!--<use form-group to make spacing between components>-->
                <div class="form-group">
                    <input class="form-control" type="text" name="pop[shortName]" placeholder="Short Name">
                </div>
                <div class="form-group">
                    <select class="form-control" type="text" name="pop[popType]" placeholder="POP Type">
                        <option value="Access" selected="selected">Access</option>
                        <option value="Core">Core</option>
                        <option value="Distribution">Distribution</option>
                        <option value="Cabinet">Cabinet</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="new-pop-governorate-name" class="form-control select2-single" type="text" name="pop[gov]" >
                    <option value="Unknown"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pop[district]" placeholder="District">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pop[sector]" placeholder="Sector">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pop[parentPOP]" placeholder="Parent POP">
                </div>
                <div class="form-group">
                    <!--<btn-block will let the button takes width of the 2 inputs>-->
                    <button class="btn btn-lg btn-primary btn-block">Add</button>
                </div>
            </form>
            <a href="/pops">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>