<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form action="/login" method="POST">
          <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input type="email" name="email" class="form-control" id="loginEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" name="newpass" class="form-control" id="loginPassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="newpassconfirm" class="form-control" id="loginPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
</div>
<% include partials/footer %>