<% include partials/header %>
	<div class="container">
		<header class="jumbotron">
		    <div class="container">
    			<h1><i class="fa fa-database" aria-hidden="true"></i>  Business Enrichment Portal</h1>
    			<p>View Network Information</p>
		    </div>
		</header>
        <div class="row text-center">
            <div class="container">
                <div class="jumbotron">
                    <div class="btn-group" role="group" aria-label="sync-data">
                            <a href="/devices/sync"><button type="button" id="device-sync" class="btn  btn-info btn-lg">Synchronize Devices</button></a>
                    </div>        
                    <div class="btn-group" role="group" aria-label="import-data">
                            <a href="/enrichments/new"><button type="button " class="btn  btn-info btn-lg">Import Device Data</button></a>
                            <a href="/enrichments/export"><button type="button " class="btn  btn-info btn-lg">Export Enrichment Data</button></a>
                    </div>
                </div>
                
            </div>
        </div>
        <!--<adding flex style to fix issue related to left alignment>-->
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <!-- <img src="/images/router.png"> -->
                </div>
                <div clas="caption">
                    <h3>Devices View</h3>
                    <p>click here to view all devices</p>                
                    <a href="/devices/" class="btn btn-primary">Go To Devices</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <!-- <img src="/images/router.png"> -->
                </div>
                <div clas="caption">
                    <h3>Interfaces View</h3>
                    <p>click here to view all interfaces</p>                
                    <a href="/interfaces/" class="btn btn-primary">Go To Interfaces</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <!-- <img src="/images/router.png"> -->
                </div>
                <div clas="caption">
                    <h3>Links View</h3>
                    <p>click here to view all links</p>                
                    <a href="/links/" class="btn btn-primary">Go To Links</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <!-- <img src="/images/router.png"> -->
                </div>
                <div clas="caption">
                    <h3>POPs View</h3>
                    <p>click here to view all POPs</p>                
                    <a href="/pops/" class="btn btn-primary">Go To POPs</a>
                </div>
            </div>
<!--             
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                </div>
                <div clas="caption">
                    <h3>Sectors View</h3>
                    <p>click here to view all sectors</p>                
                    <a href="/sectors/" class="btn btn-primary">Go To Sectors</a>
                </div>
            </div>
-->            
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                </div>
                <div clas="caption">
                    <h3>Cabinets View</h3>
                    <p>click here to view all cabinets</p>                
                    <a href="/cabinets/" class="btn btn-primary">Go To Cabinets</a>
                </div>
            </div>
             <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <!-- <img src="/images/router.png"> -->
                </div>
                <div clas="caption">
                    <h3>Validated Users View</h3>
                    <p>click here to view all validated users</p>                
                    <a href="/validatedusers/" class="btn btn-primary">Go To Validated Users</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <!-- <img src="/images/router.png"> -->
                </div>
                <div clas="caption">
                    <h3>Users View</h3>
                    <p>click here to view all users</p>                
                    <a href="/users/" class="btn btn-primary">Go To Users</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <!-- <img src="/images/router.png"> -->
                </div>
                <div clas="caption">
                    <h3>Device Models View</h3>
                    <p>click here to view all device models</p>                
                    <a href="/devicemodels/" class="btn btn-primary">Go To Models</a>
                </div>
            </div>
        </div>
	</div>
<% include partials/footer %>