<% include partials/header %>
	<div class="container">
		<div class="jumbotron">
			<h1><i class="fa fa-database" aria-hidden="true"></i>  Business Enrichment Portal</h1>
		</div>
        <!--<adding flex style to fix issue related to left alignment>-->
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="/images/router.png">
                    <a href="/devices/" class="btn btn-primary">Go To Devices</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="/images/router.png">
                    <a href="/pops/" class="btn btn-primary">Go To POPs</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="/images/router.png">
                    <a href="/interfaces/" class="btn btn-primary">Go To Interfaces</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="/images/router.png">
                    <a href="/sectors/" class="btn btn-primary">Go To Sectors</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="/images/router.png">
                    <a href="/governorates/" class="btn btn-primary">Go To Governorates</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="/images/router.png">
                    <a href="/users/" class="btn btn-primary">Go To Users</a>
                </div>
            </div>
        </div>
	</div>
<% include partials/footer %>