<% include partials/header %>
	<div class="container">
		<div class="jumbotron">
			<h1><i class="fa fa-database" aria-hidden="true"></i>  Business Enrichment Portal</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="thumbnail">
					<img src="/images/christopher-gower-289516.jpg">

				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>