<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Business Enritchment Portal | BET</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<script src="/javascript/modernizr.js" type="text/javascript" async></script>
	<script src="/javascript/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascript/bootstrap.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
	<div id="landing-header">
		<h1>Business Enrichment Portal</h1>
		<h3>The tool to manage TEData network information</h3>
		<a href="/home" class="btn btn-lg btn-success"><i class="fa fa-paw"></i> Get Started!</a>
	</div>
	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
<% include partials/footer %>