body {
  background-color: #000;
}

#landing-header {
  /*z-index for webpage moving forward towards us*/
  z-index: 1;
  /*need to use 'relative' position, default 'static' position will override z-index*/
  position: relative;
  text-align: center;
  /*to center contents vertically*/
  padding-top: 40vh;
}

/*We also need to change the h1 text color to white*/
#landing-header h1 {
  color: #fff;
}
#landing-header h3 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*z-index of zero makes images behinde the text and other contents*/
  z-index: 0;
  /*to remove bullet points of the lis items*/
  list-style: none;
  /*no margin*/
  margin: 0;
  /*no padding*/
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*opacity of zero to help fade the images*/
  opacity: 0;
  z-index: 0;
  /*animation will last for 50 secs, with same speed from beginning to end*/
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(/images/carlos-muza-84523.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(/images/caspar-rubin-224229.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/images/christopher-gower-291246.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/images/goran-ivos-307271.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/images/luca-bravo-217276.jpg);
  animation-delay: 40s; 
}
/*take application keyframe selector and giving the image animation*/
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}