<% include ../partials/header %>
    <!--< the class container will give space around our contents>-->

    <div class="container">
        <header class="jumbotron">
            <!--<adding second container to keep spacing around contents when we resize the page>-->
            <div class="container">
                <h1>Business Enrichment Portal</h1>
                <p>View Interfaces Information</p>
                <div class="btn-group" role="group" aria-label="all">
                    <a href="/devices/"><button type="button" class="btn btn-default ">All Devices</button></a>
                    <a href="/pops/"><button type="button" class="btn btn-default ">All POPs</button></a>
                    <!--<a href="/interfaces/"><button type="button" class="btn btn-default">All Interfaces</button></a>-->
                    <a href="/sectors/"><button type="button" class="btn btn-default">All Sectors</button></a>
                    <a href="/governorates/"><button type="button" class="btn btn-default ">All Governorates</button></a>
                    <a href="/users/"><button type="button" class="btn btn-default">All Users</button></a>
                    <a href="/links/"><button type="button" class="btn btn-default">All Links</button></a>
                    <a href="/validatedusers/"><button type="button" class="btn btn-default">All Validated Users</button></a>
                    <a href="/enrichments/"><button type="button" class="btn btn-default ">All Enrichment Data</button></a>
                    <a href="/interfaces/"><button type="button" class="btn btn-default active">All Interfaces Data</button></a>
                </div>        
            </div>
        </header>
<!-- data-response-handler="responseHandler" -->
        <div class="row text-left" >
            <div class="table-responsive">
                <table id="interfacetable" data-pagination="true" data-height="525" data-side-pagination="server" data-url="/interfaces/pagination" data-toggle="table" data-search="true" data-flat="true" data-show-columns="true" data-show-toggle="true" data-show-refresh="true">
                    <thead>
                        <tr>
                                <th data-field="_id" data-visible="false">ID</th>
                                <th data-field="ifIndex">Index</th>
                                <th data-field="ifName" data-sortable="true">Name</th>
                                <th data-field="hostname">Device</th>
                                <th data-field="ifAlias" data-sortable="true">Alias</th>
                                <th data-field="ifDescr">Description</th>
                                <th data-field="ifSpeed" data-sortable="true">Speed</th>
                                <th data-field="adminStatus" data-sortable="true">Admin Status</th>
                                <th data-field="operStatus" data-sortable="true">Operational Status</th>
                                <th data-field="actualspeed" data-sortable="true">Actual Speed</th>
                                <th data-field="createdAt" data-sortable="true">Date Created</th>
                                <th data-field="lastUpdate" data-sortable="true">Date Updated</th>
                                <th data-field="ifType" data-sortable="true">Type</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
