<% include ../partials/header %>
    <!--< the class container will give space around our contents>-->

    <div class="container">
        <header class="jumbotron">
            <!--<adding second container to keep spacing around contents when we resize the page>-->
            <div class="container">
                <h1>Business Enrichment Portal</h1>
                <p>View Interfaces Information</p>
                <div class="btn-group" role="group" aria-label="all">
                    <a href="/devices/"><button type="button" class="btn btn-default ">All Devices</button></a>
                    <a href="/pops/"><button type="button" class="btn btn-default ">All POPs</button></a>
                    <!--<a href="/interfaces/"><button type="button" class="btn btn-default">All Interfaces</button></a>-->
                    <a href="/sectors/"><button type="button" class="btn btn-default">All Sectors</button></a>
                    <a href="/governorates/"><button type="button" class="btn btn-default ">All Governorates</button></a>
                    <a href="/users/"><button type="button" class="btn btn-default">All Users</button></a>
                    <a href="/links/"><button type="button" class="btn btn-default">All Links</button></a>
                    <a href="/validatedusers/"><button type="button" class="btn btn-default">All Validated Users</button></a>
                    <!-- <a href="/enrichments/"><button type="button" class="btn btn-default ">All Enrichment Data</button></a> -->
                    <a href="/interfaces/"><button type="button" class="btn btn-default active">All Interfaces Data</button></a>
                    <a href="/cabinets/"><button type="button" class="btn btn-default ">All Cabinets</button></a>
                     <a href="/temsaninfos/"><button type="button" class="btn btn-default ">All TE-Msans</button></a>
                </div>        
            </div>
        </header>
<!-- data-response-handler="responseHandler" -->
        <div class="row text-left" >
            <div class="table-responsive">
                <table id="interfacetable" data-pagination="true" data-height="525" data-side-pagination="server" data-url="/interfaces/pagination" data-toggle="table" data-search="true" data-flat="true" data-show-columns="true" data-show-toggle="true" data-show-refresh="true">
                    <thead>
                        <tr>
                                <th data-field="_id" data-visible="false">ID</th>
                                <th data-field="ifIndex">ifIndex</th>
                                <th data-field="ifName" data-sortable="true">ifName</th>
                                <th data-field="hostname">Hostname</th>
                                <th data-field="ipaddress" data-sortable="true">IP Address</th>
                                <th data-field="ifAlias" data-sortable="true">ifAlias</th>
                                <th data-field="ifDescr">ifDescr</th>
                                <th data-field="ifSpeed" data-sortable="true">ifSpeed</th>
                                <th data-field="ifType" data-sortable="true">ifType</th>
                                <th data-field="actualspeed" data-sortable="true">Actual Speed</th>
                                <th data-field="ifHighSpeed">ifHighSpeed</th>
                                <th data-field="speedCat">speedCat</th>
                                <th data-field="counters">Counters</th>
                                <th data-field="type"> type  </th>
                                <th data-field="specialService"> Special Service  </th>
                                <th data-field="secondPOP"> Second POP  </th>
                                <th data-field="secondHost"> Second Host  </th>
                                <th data-field="secondInterface"> Second Interface  </th>
                                <th data-field="label"> Label  </th>
                                <th data-field="provisoFlag"> provisoFlag  </th>
                                <th data-field="noEnrichFlag"> noEnrichFlag  </th>
                                <th data-field="unknownFlag"> unknownFlag  </th>
                                <th data-field="sp_service"> sp_service  </th>
                                <th data-field="sp_provider"> sp_provider  </th>
                                <th data-field="sp_termination">  sp_termination </th>
                                <th data-field="sp_bundleId"> sp_bundleId  </th>
                                <th data-field="sp_linkNumber"> sp_linkNumber  </th>
                                <th data-field="sp_CID"> sp_CID  </th>
                                <th data-field="sp_TECID"> sp_TECID  </th>
                                <th data-field="sp_subCable"> sp_subCable  </th>
                                <th data-field="sp_customer">  sp_customer </th>
                                <th data-field="sp_sourceCore"> sp_sourceCore  </th>
                                <th data-field="sp_destCore"> sp_destCore  </th>
                                <th data-field="sp_vendor"> sp_vendor  </th>
                                <th data-field="sp_speed"> sp_speed  </th>
                                <th data-field="sp_pop"> sp_pop  </th>
                                <th data-field="sp_fwType"> sp_fwType  </th>
                                <th data-field="sp_serviceType">  sp_serviceType </th>
                                <th data-field="sp_ipType"> sp_ipType  </th>
                                <th data-field="sp_siteCode"> sp_siteCode  </th>
                                <th data-field="sp_connType"> sp_connType  </th>
                                <th data-field="sp_emsOrder"> sp_emsOrder  </th>
                                <th data-field="sp_connectedBW">  sp_connectedBW </th>
                                <th data-field="sp_dpiName"> sp_dpiName  </th>
                                <th data-field="sp_portID"> sp_portID  </th>
                                <th data-field="ifSpeedText"> ifSpeedText  </th>
                                <th data-field="ifHighSpeedText"> ifHighSpeedText  </th>
                                <th data-field="sp_speedText"> sp_speedText  </th>
                                <th data-field="actualspeedText"> actualspeedText  </th>
                                <th data-field="devPOP"> devPOP  </th>
                                <th data-field="devPOPLongName"> devPOPLongName  </th>
                                <th data-field="devCabinet"> devCabinet  </th>
                                <th data-field="devGov"> devGov  </th>
                                <th data-field="devDistrict"> devDistrict  </th>
                                <th data-field="devSector"> devSector  </th>
                                <th data-field="devPOPType"> devPOPType  </th>
                                <th data-field="adminStatus" data-visible="false"> adminStatus  </th>
                                <th data-field="operStatus" data-visible="false"> operStatus  </th>
                                <th data-field="pop">POP</th>
                                <th data-field="createdAt" data-sortable="true">Date Created</th>
                                <th data-field="lastSyncTime" data-sortable="true">Last Sync Time</th>
                                <th data-field="lastUpdate" data-sortable="true">Date Updated</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
