<% include ../partials/header %>
<div class="container">
    <!--<will need to create my own style sheet to center the 2 inputs and make them
    smaller>-->
    <div class="row">
        <h1 style="text-align: center;">Edit Cabinet <%= cabinet.cabinet %></h2>
        <!--<margin 25 px for top and bottom, auto for left and right>-->
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/cabinets/<%= cabinet._id %>/?_method=PUT">
                <!--<use form-group to make spacing between components>-->
                <div class="form-group">
                    <label for="cabinet">Cabinet</label>
                    <input class="form-control" type="text" name="cabinet[cabinet]" value="<%= cabinet.cabinet %>">
                </div>
                <div class="form-group">
                    <label for="cab-pop-name">POP Name</label>
                    <select id="cab-pop-name" class="form-control select2-single" required="true" type="text" name="cabinet[pop]"  data-init-text="<%= cabinet.pop %>">
                    </select>
                </div>                             
                <div class="form-group">
                    <!--<btn-block will let the button takes width of the 2 inputs>-->
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            
            <a href="/cabinets/">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>